JWT_SECRET="your_jwt_secret_here"
NODE_ENV = "development"

#Admin Credentials
SELLER_EMAIL = "admin@example.com"
SELLER_PASSWORD = "your_admin_password"

#MongoDB Setup
MONGODB_URI = "your_mongodb_connection_string"

#Cloudinary
CLOUDINARY_CLOUD_NAME = 'your_cloudinary_cloud_name'
CLOUDINARY_API_KEY = 'your_cloudinary_api_key'
CLOUDINARY_API_SECRET = 'your_cloudinary_api_secret'

# Stripe Setup
STRIPE_PUBLISHABLE_KEY = 'pk_test_your_stripe_publishable_key'
STRIPE_SECRET_KEY= 'sk_test_your_stripe_secret_key'

STRIPE_WEBHOOK_SECRET = 'your_stripe_webhook_secret'
