@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

:root {
    --color-primary: #FF6B6C;       /* A more vibrant coral red */
    --color-primary-dull: #FF8788;  /* Lighter shade for hover effects */
}

